/* ALL */


body {
	font-family: 'Roboto', sans-serif, Arial ; 
	
}

div {
	text-align: center;
}
/* HEADER */

h1 a {
    margin: 0 auto 0 0;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 1.65em;
    line-height: 1;
    display: inline-block;
    padding-left: 1em ;
    color: #252445; 
}

h1 a:hover {
     text-decoration:none; 
    color: #fff; 
}


/* INFOS */
#day {
	font-size: 1em;
    font-weight: 600;
    margin: 0 0 1em;
    color: #252445;
}
#hours {
	font-size: 2em;
    font-weight: 700;
    margin: 0 0 0 0;
    color: #252445;
}

#temp {
	font-size: 8em;
    font-weight: 700;
    margin: 0 0 0.1em;
}


.sun {
	background-color: #FDB813 ;
}

.rain {
	color: #004CFF ;
}

#picture img{
	width: 15%;
}

#city {
	background-color: black ;
	opacity: 0.6 ;
	padding: 2em ; 
	color: white ; 
	font-size: large;
	bottom: 0px;
    position: absolute;
    width: 100%;
}